.tekst {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
}

.pealkiri{

}

.sissejuhatus{

}

.tutvustus{

}

.kasutus{

}

.tasuta{

}

.tasulised{

}

.muud_kursused{

}

.video{
    
}