.tekst {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
  }

.pealkiri {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.pealkiri img {
    height: 90px;
    vertical-align: middle;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

.sissejuhatus,
.tutvustus,
.kasutus,
.tasuta,
.tasulised,
.muud_kursused {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.sissejuhatus ul,
.tutvustus p,
.kasutus p {
    line-height: 1.6;
}

.tutvustus {
    margin-left: 10px;
    margin-right: 10px;
    grid-column: 1 / 2;
}

.kasutus {
    grid-column: 2 / 3;
    margin-right: 10px;
    margin-left: 10px;
}

.tutvustus header,
.kasutus header,
.tasuta header,
.tasulised header,
.muud_kursused header {
    background-color: rgb(40, 109, 155);
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.tasuta,
.tasulised,
.muud_kursused {
    display: inline-block;
    width: 26%;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: text-top;
    padding: 10px;
    word-wrap: break-word;
}

.sissejuhatus ul,
.tasuta ul,
.tasulised ul,
.muud_kursused ul {
    list-style-type: none;
    padding: 0;
}

.kasutus li,
.tasuta li,
.tasulised li,
.muud_kursused li {
    margin-bottom: 10px;
}

.video {
    text-align: center;
    margin-top: 20px;
    grid-column: 2 / 3;
}

.video iframe {
    border: none;
    max-width: 100%;
}